

.page-container {
	width: 700px;
	margin: 0 auto;  /* basically centers the div; 0 is top & bottom, the auto is left and right to center it*/
	/* background-color: #dfdfdf; */
	min-height: 100px;
}  /* all divs are position:relative to start; */

